<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1>Formal Education</h1>
	</div>
	<div class="content-rounded-panel">
		<div>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th><a style="cursor: pointer;">Degree</a></th>
						<th><a style="cursor: pointer;">Major</a></th>
						<th><a style="cursor: pointer;">Expected Graduation</a></th>
						<th><a style="cursor: pointer;">University</a></th>
						<th><a style="cursor: pointer;">GPA</a></th>
					</tr>
				</thead>
				<tbody>
					{% for education in site.education %}
						<tr>
							<td>{{education.level}}</td>
							<td>{{education.subject}}</td>
							<td>{{education.date}}</td>
							<td>{{education.school}}</td>
							<td>{{education.gpa}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th><a style="cursor: pointer;">Finance Coursework</a></th>
					</tr>
				</thead>
				<tbody>
					<td>{{education.finance}}</td>
				</tbody>
			</table>
			</table>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th><a style="cursor: pointer;">Economics Coursework</a></th>
					</tr>
				</thead>
				<tbody>
					<td>{{education.economics}}</td>
				</tbody>
			</table>
		</table>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th><a style="cursor: pointer;">Data Analysis Coursework</a></th>
					</tr>
				</thead>
				<tbody>
					<td>{{education.data}}</td>
				</tbody>
			</table>
		</div>
		<br>
	</div>
</div>
