<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I'm a 4th year Economics undergraduate at UC Berkeley currently completing an Honors Thesis. I'm currently a Sales Operations Intern at Worklete, where I've continued my internship into the school year. I previously interned at Zendesk on the Product Strategy and Analytics team from June 2017 - March 2018. <br/>
		</div>
		<br>
	</div>
</div>
