<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Hi! Thanks for visiting my website.
			
			I'm a 4th year Economics undergraduate at UC Berkeley graduating in May 2019. My focus for this year is completing an honors thesis in Economics. 
			
			I'm currently a Sales Operations Intern at Worklete, where I've continued my summer internship into the school year. 
			
			I previously worked at Zendesk as a Business Analyst Intern on the Zendesk Talk team from June 2017 to March 2018. <br/>
		</div>
		<br>
	</div>
</div>
